<a href="https://colab.research.google.com/github/bharaniakella/God_mode_on/blob/main/n0_of_times_array_rotated.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

arr=np.array([4,5,6,7,0,1,2,3])

In [10]:
def rotate(arr):
  low=0
  high=len(arr)-1
  ans=float('infinity')
  index=-1
  while(low<=high):
    mid=(high+low)//2
    if(arr[low]<=arr[mid]):
      if(arr[low]<ans):
        index=low
        ans=arr[low]
      low=mid+1
    else:
      high=mid-1
      if(arr[mid]<ans):
        index=mid
        ans=arr[mid]

  return index

In [11]:
rotate(arr)

4